
# Compiled files:
*.pyc
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__

# Packages
.eggs/
*.egg-info
dist
build

# Manifest for distutils:
MANIFEST

# Sphinx documentation:
doc/_build/
doc/_static/
doc/_templates/

# Temporary files
*~
.*~
*.swp
*.swo
*.orig

# Results of examples
examples/*/*.png
examples/*/data/*

